@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono',sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #8e44ad;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 50px;
    text-align: center;
}

.counter {
    font-size: 60px;
    margin-top: 10px;

}

@media (max-width: 580px) {
    body {
        flex-direction: column;
    }
}